#ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#ck-button label {
    float:left;
    width:10.0em;
    height: 2.0em;
    position: relative;
}

#ck-button label span {
    text-align:center;
    display:block;
    padding-top: 6px;
}

#ck-button label input {
    position:absolute;
    left: 10px;
    top: 6px;
}

#ck-button input:checked + span {
    background-color:#006600;
    color:#fff;
    height: 117%;
}

#house {
	float: left;
}

.room-list {
	clear: left;
	padding-left: 5%;
}